Frontend/public/solution_icon.png
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/Pages/AboutPage/MeetTeam/TeamIntro.css
server/Capstone-Project/
Frontend/src/Components/Pages/Platform/CoordinationHub/TechSupport/TechSupport.css
Frontend/src/Components/Pages/CaseStudiesPages/DeepWaterHorizon/HeroSection/DWHeroSection.css
Frontend/src/Components/Pages/HomePage/NavShowcase/ContactAHHH.css
Frontend/src/Components/Pages/AboutPages/ContactUs/Contact.css
Frontend/src/Components/Pages/AboutPages/ContactUs/ContactUs.jsx
Frontend/src/Components/Pages/HomePage/NavShowcase/ContactAHHH.css
Frontend/src/Components/Pages/HomePage/NavShowcase/ContactAHHH.jsx
Frontend/src/Components/Pages/HomePage/NavShowcase/TopicDropdown.css
Frontend/src/Components/RepeatedComponents/Footer/Footer.css
Frontend/src/Components/RepeatedComponents/Footer/Footer.jsx
path/to/file
