Frontend/public/solution_icon.png
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/About/Why/Why.css
Frontend/src/Components/About/Why/Why.jsx
Frontend/src/Components/Pages/AboutPage/MeetTeam/TeamIntro.css
