/* =========================
   CONTAINER
   ========================= */
.ourapp-container {
  width: 100%;
  padding: 50px 100px;
  box-sizing: border-box;
  background: #f9f9f9;
}

/* =========================
   2-COLUMN LAYOUT
   ========================= */
.ourapp-content-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* =========================
   LEFT COLUMN (TEXT - BIGGER)
   ========================= */
.ourapp-left-col {
  flex: 1.6;

  display: flex;
  flex-direction: column;
  gap: 18px;

  color: black;
  line-height: 1.5;
}

/* TITLE */
.ourapp-title {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
  color: #F47A20;
  margin: 0;
}

/* SUBTITLE */
.ourapp-leftSubtitle {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: 500;
  color: #0B2E4F;
}

/* PARAGRAPHS */
.ourapp-paragraph {
  font-size: clamp(0.8rem, 2.5vw, 1.08rem);
}

/* =========================
   RIGHT COLUMN (IMAGE)
   ========================= */
.ourapp-right-col {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* IMAGE */
.ourapp-image {
  width: 100%;
  max-width: 420px;

  border-radius: 12px;
  object-fit: cover;
}

/* =========================
   MOBILE
   ========================= */
@media (max-width: 768px) {

  .ourapp-container {
    padding: 15px 20px;
  }
  
  .ourapp-right-col {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .ourapp-left-col {
    flex: 1;
  }

  .ourapp-content-row {
    gap: 30px;
    flex-direction: column;
  }
}