.position {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 120px;
  position: absolute;
}

/* Header text */
.position h2 {
  font-size: 30px;
  color: #172554;
  margin: 0 0 auto 50px;
  width: 90%;
  max-width: 1000px;
  text-align: left;
}

/* Grid container for all resources */
.resources-grid {
  width: 90%;   
  margin: 20px auto 0 auto; /* top margin + horizontal centering */
  background-color: #1096b7;
  padding: 20px 30px;   /* spacing inside the grid */
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /*subtle shadow*/
}

/* Column inside the grid */
.resources-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-container {
    padding: 0px;
    margin-top: -60px;
}