.rsf-header-section {
  padding: 100px 20px 40px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
}


.rsf-header-container {
  max-width: 850px;
  will-change: opacity; 
}

.rsf-header-title {
  color: var(--charcoal);
  font-size: clamp(2.5rem, 6vh, 2.8rem);
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.rsf-header-accent {
  width: 60px;
  height: 5px;
  background-color: var(--orange);
  margin: 0 auto 35px;
  border-radius: 50px;
}

.rsf-header-description {
  font-size: clamp(0.95rem, 2.5vw, 1.15rem);
  line-height: 1.7;
  color: var(--charcoal);
}


@media (max-width: 768px) {

  .rsf-header-section {
    padding: 15px 20px;
  }

  .rsf-header-container {
    max-width: 100%;
  }
  .rsf-header-title { 
    font-size: clamp(2.5rem, 6vh, 2.8rem);
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-bottom: 15px; 
  }

  .rsf-header-description { 
    font-size: clamp(0.95rem, 2.5vw, 1.15rem);
    line-height: 1.6;
    padding: 0 10px;
  }
}
