.intro-container {
  width: 100%;
  text-align: center;        /* centers text */
  padding: 20px 100px;
  background-color: #f9f9f9;
}

.intro-title {
  margin-top: 24px;
  color: #F47A20;
  font-size: clamp(1.5rem, 4vw, 2rem); /* responsive text */
  text-align: left; 
}

.intro-subtitle {
  margin-top: 20px;
  font-size: clamp(0.9rem, 2.5vw, 1.15rem);
  padding: 15px;
  text-align: left; 
}

.intro-para {
  margin: 10px 0;
  font-size: clamp(0.9rem, 2.5vw, 1.15rem);
  padding: 5px;
  text-align: left; 
  line-height: 1.5;
}

/* CELLULAR PHONE STUFF HERE */
@media (max-width: 768px) {

  .intro-container {
    padding: 15px 20px;
  }
  
}